.header-a{
    display:block;
    text-decoration: none;
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 0px 15px;
}
.header-a:hover{
    background-color:azure;
}