body {
    margin: 0;
}

header {
    background-color: aquamarine;
    padding: 25px;
}

main {
    background-color: antiquewhite;
    margin: 0px 50px;
}

footer {
    background-color: beige;
}

img {
    display: block;
    margin: auto;
    width: 80%;
}

p {
    margin: 0px 100px;
}

h1,
h2 {
    margin: 0;
}
